body{
    background-image: url("../img/bg2.jpg");
    background-attachment: fixed;
    min-height: 650px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    text-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0.438);

}

.container{
    color: white;
}

.h2{
    color: white;
}

.white{
    color: white;
}
a{
    color: rgb(211, 11, 211) !important;
    padding-left: 3.5px;
}

.row{
    margin-top: 130px;
}