.list-group-item {
  line-height: 2.5;
}

/* navbar */

#logo {
    vertical-align:middle;
}
.navbar-brand span {
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    display:inline-block;
    vertical-align:middle;
    padding:0 0 0 15px;
}
.navbar-brand b {
    display:block;
    font-size:50%;
    line-height:1;
}
.navbar{
  background-color: rgb(26, 26, 26);
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
  overflow: hidden;
  box-shadow: .5px 2px 1px rgb(10, 10, 10);
}
.navbar-nav {
  margin-left:auto;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 2px 2px 2px #0000006c;
  }
  /* end navbar */
  body{
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    min-height: 650px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes{
    background-color: rgba(0, 0, 0, 0.657);
    color: azure;
    border-radius: 15px;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: -325px;
    padding-right: -325px;
}

.type{
    background-color: rgba(0, 0, 0, 0);
    border: 3px dotted rgb(10, 196, 199);
    border-radius: 25px;
    margin-top: 15px;
    padding: 5px;
}

::placeholder { 
    color: rgb(235, 235, 235);
    opacity: 1; 
    text-align:center;
    margin-left: 10px;
  }


  .miniHead{
       background-color: rgba(0, 0, 0, 0.657);
    color: azure;
    border-radius: 15px;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.431);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .brand{
      margin: 18px;
  }
  h1{
    font-family: 'Modak', cursive;
    font-size: 90px !important;
    color: rgb(10, 196, 199);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.534);
    text-shadow:
        -2px -2px 0 rgb(255, 255, 255),
        2px -2px 0 rgb(255, 255, 255),
        -2px 2px 0 rgb(255, 255, 255),
        2px 2px 0 rgb(255, 255, 255);
  }

  hr{
      background-color: white;
      margin-top: 0px !important;
  }
